.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin: 10px 0 5px;
}

.contact-form input, 
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #21a1f1;
}
